* {
    padding: 0;
    margin: 0;
}
.body__text {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
}
.body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.body-click {
   
    display: inline;
    background-color: #f71414;
    border: 3px solid #f5a980 ;

}
.body-click .click {
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: 8px 8px;
    font-size: 20px;
    font-weight: 800;

}
.body-click .click:hover {
    background-color: #fff; 
    color: #f71414;
    cursor: pointer;
}
.content {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fa406b;
    display: none;
}
.content__img {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.content__img1 {
    position: fixed;
    left: 15%;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: 
    url(./img/hk.jfif);
    background-size: 12rem;
    animation:  Top 10s;
    background-repeat: no-repeat;
}

@keyframes Top {
    0% {
        left: 15%;
        top: 0;
    }
    25% {
        left: 75%;
        top: 0;
    }
    50% {
        left: 75%;
        top: 60%;

    }
    75% {
        left: 15%;
        top: 60%;
    }
    100% {
        left: 15%;
        top: 0;
    }
}
.content__img2 {
    position: fixed;
    left: 45%;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(./img/khanhphumy.jfif);
    background-size: 12rem;
    animation:  Top2 13s;
    background-repeat: no-repeat;
}
@keyframes Top2 {
    0% {
        left: 15%;
        top: 0;
    }
    20% {
        left: 75%;
        top: 0;
    }
    40% {
       
        left: 75%;
        top: 60%;

    }
    60% {
        left: 15%;
        top: 60%;

    }
    80% {
        left: 15%;
        top: 0;
    }
    100% {
        left: 45%;
        top: 0;
    }
}
.content__img3 {
    position: fixed;
    left: 75%;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(./img/tk.jfif);
    background-size: 12rem;
    animation:  Top3 16s;
    background-repeat: no-repeat;
}
@keyframes Top3 {
    0% {
        left: 15%;
        top: 0;
    }
    20% {
        left: 75%;
        top: 0;
    }
    40% {
       
        left: 75%;
        top: 60%;

    }
    60% {
        left: 15%;
        top: 60%;

    }
    80% {
        left: 15%;
        top: 0;
    }
    100% {
        left: 75%;
        top: 0;
    }
}
.content.open{
    display: block;
}

.content__cake {
    position: absolute;
    left: 40%;
    bottom: 20%;
    width: 25rem;
    height: 21.875rem;
    border: 0.125rem solid #fff;
    background-image: url(./img/background.webp);

}
.content__text {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    font-size: 1.1875rem;
    color: #000;
    text-shadow: 3px 0px 3px #000;
} 
.text {
    text-align: center;
}

.top__cake {
    position: absolute;
    width: 0.625rem;
    height: 1.875rem;
    bottom: 11.25rem;
    background: #f0370d;
    left: 12.1875rem;
}
.fire {
    position: absolute;
    width: 0.75rem;
    height: 0.625rem;
    bottom: 13.125rem;
    background: #fc0505;
    left: 12.125rem;
    border-radius: 20px 20px 10px 10px;
    box-shadow: 0px -8px 10px #fc0505;
    animation: fire 0.5s linear infinite;
}
@keyframes fire {
    from {
        bottom: 13rem;
        transform: scale(0.95);
    } 
    to {
        bottom: 13.1875rem;
        transform: scale(1.5);
    }
}


.bottom_cake{
    position: absolute;
    width: 18.75rem;
    height: 3.75rem;
    background-color: #fcf18e;
    bottom: 0;
    left: 3.125rem;
}
.bottom_cake-deco>div {
    position: absolute;
    width: 1.25rem;
    height: 1.125rem;
    background-color: #fde655;
    top: -1.125rem;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;

}
.bottom_cake-deco>div:nth-child(2) {
    left: 2.5rem;
}
.bottom_cake-deco>div:nth-child(3) {
    left: 5rem;
}
.bottom_cake-deco>div:nth-child(4) {
    left: 7.5rem;
}
.bottom_cake-deco>div:nth-child(5) {
    left: 10rem;
}
.bottom_cake-deco>div:nth-child(6) {
    left: 12.5rem;
}
.bottom_cake-deco>div:nth-child(7) {
    left: 15rem;
}
.bottom_cake-deco>div:nth-child(8) {
    left: 17.5rem;
}


.bottom_cake-cream-betwent {
    position: absolute;
    width: 18.75rem;
    height: 0.625rem;
    background-color: #40b6fa;
    top: 1.5625rem;
}
.bottom_cake-cream {
    position: absolute;
    width: 18.75rem;
    height: 0.625rem;
    background-color: #fa406b;
    top: -0.625rem;
}
.bottom_cake2 {
    position: absolute;
    width: 12.5rem;
    height: 3.125rem;
    background-color: #fcf18e;
    bottom: 4.375rem;
    left: 6.25rem;
}
.bottom_cake-deco2>div {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #fde655;
    top: -1.25rem;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;

}
.bottom_cake-deco2>div:nth-child(2) {
    left: 3.75rem;
}
.bottom_cake-deco2>div:nth-child(3) {
    left: 7.5rem;
}
.bottom_cake-deco2>div:nth-child(4) {
    left: 11.25rem;
}
.bottom_cake-cream-betwent2 {
    position: absolute;
    width: 12.5rem;
    height: 0.625rem;
    background-color: #40b6fa;
    top: 1.25rem;
}
.bottom_cake-cream2 {
    position: absolute;
    width: 12.5rem;
    height: 0.625rem;
    background-color: #fa406b;
    top: -0.625rem;
}
.bottom_cake3 {
    position: absolute;
    width: 6.25rem;
    height: 2.5rem;
    background-color: #fcf18e;
    bottom: 8.125rem;
    left: 9.375rem;
}
.bottom_cake-cream-betwent3 {
    position: absolute;
    width: 6.25rem;
    height: 0.625rem;
    background-color: #40b6fa;
    top: 0.9375rem;
}
.bottom_cake-cream3 {
    position: absolute;
    width: 6.25rem;
    height: 0.625rem;
    background-color: #fa406b;
    top: -0.625rem;
}
@media (max-width: 720px) {
    html {
        font-size: 12px;
    }
    .body__text {
        display: none;
    }
    .body {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .container {
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: #1b075e;
    }
    .container_phone {
        position: relative;
        display: flex;
        width: 10rem;
        height: 20rem;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 2rem;
        animation: xoay 1.5s ease infinite alternate;
    }
    @keyframes xoay {
        0% {
            transform: rotate(90deg);
        }
        40% {
            transform: rotate(90deg);
        }
        80% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
   
    
    .container_phone-header {
        position: absolute;
        top: 0rem;
        width: 100%;
        height: 1.5rem;
    }
    .container_phone-header-icon {
        display: flex;
        margin: auto;
        width: 2rem;
        height: 0.5rem;
        background-color: #000;
        margin-top: 0.5rem;
        border-radius: 1rem;
        opacity: 0.8;
    }
    .container_phone-body {
        display: flex;
        margin: auto;
        width: 8rem;
        height: 17rem;
        background-image: url(./img/hinh-nen-dien-thoai-doc.jpg);
        background-size: contain;
        border-radius: 1.2rem;
        opacity: 0.5;
    } 
    .container_phone-bottom{
        position: absolute;
        bottom: 0rem;
        width: 100%;
        height: 1.5rem;
    }
    .container_phone-bottom-home {
        display: flex;
        margin: auto;
        margin-top: 0.1rem;
        width: 1.4rem;
        height: 1.3rem;
        background-color: #000;
        border-radius: 1rem;
        opacity: 0.8;
    }
    .container_text {
        position: absolute;
        color: #fff;
        display: inline;
        bottom: 20%;
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
    }
    .container_rotate-header {
        position: absolute;
        height: 2.5rem;
        width: 1rem;
        background-color: #fff;
        margin-left: -2rem;
        margin-top: -1.5rem;
        opacity: 0.7;
    }
    .container_rotate-header::before {
        content: "";
        position: absolute;
        border-width: 0.5rem 1.5rem;
        border-style: solid;
        border-color: #fff;
        top: -0.5rem;
        border-radius: 3rem;
    }
    .container_rotate-header::after {
        content: "";
        position: absolute;
        border-width: 1rem 1rem;
        border-style: solid;
        border-color: transparent transparent transparent #fff;
        top: -1rem;
        left: 2.5rem;
    }
    .container_rotate-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2.5rem;
        width: 1rem;
        background-color: #fff;
        margin-right: -2rem;
        margin-bottom: -1.5rem;
        opacity: 0.7;
    }
    .container_rotate-bottom::before {
        content: "";
        position: absolute;
        border-width: 0.5rem 1.5rem;
        border-style: solid;
        border-color: #fff;
        bottom: -0.5rem;
        border-radius: 3rem;
        right: 0rem;
    }
    .container_rotate-bottom::after {
        content: "";
        position: absolute;
        border-width: 1rem 1rem;
        border-style: solid;
        border-color: transparent #fff transparent transparent;
        bottom: -1rem;
        right: 2.5rem;
    }
    
}

@media (min-width: 721px) and (max-width: 1023px) {
    html{
        font-size: 8px;
    }
    .container_text {
        display: none;
    }
    .content__cake {
        bottom: 0%; !important
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 12px;
    }
    .container_text {
        display: none;
    }
}

